@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);

@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

html,
/* body {
  overflow-x: hidden!important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;  
  background: #101010;
  z-index: -1;
} */
.skin-black{
  ackground: #101010;
}
.header {
  position: relative;  
  display:block;
  /* margin-left: 33.33%; */
  margin-left: 40%;
}
.title-font {
  font-family: "微软雅黑 Bold","微软雅黑";
  font-size: 36px;
  color: #F00;
  text-aglin:center;
 }
 .font-time {
  font-family: "微软雅黑 Bold","微软雅黑";
  font-size: 30px;
  color: #F00;
  text-aglin:center;
 }
 
  /*重新定义bootstrap的流式布局*/
 .container-fluid-new {
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}
 /*img-base*/
 /*定义标题图片*/
.img-tit {
	max-width: 100% !important;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	/* height: 28px;
	width: 28px; */
}
.ax-shape {
	background-color: #333333;
}
.wx-shape{
	background-color:rgb(212,212,212);
}
.bx-shape {
	margin-top: 2px;
	background-color: #1F1F1F;
}

.marg-r {
	margin-right: 10px;
}
.marg-rx2 {
	margin-right: 20px;
}
.marg-l {
	margin-left: 10px;
}
.marg-ll5 {
	margin-left: 3px;
}
.marg-ll8 {
	margin-left: 6px;
}
.marg-l-neg {
	margin-left: -4%;
}
.marg-t {
	margin-top: 10px;
}
.marg-t3 {
	margin-top: 3px;
}
.marg-t-half {
	margin-top: 4px;
}
.marg-t-auto {
	margin-top: 8px;
}
.marg-t-2px {
	margin-top: 0px;
}
.marg-tx2 {
	margin-top: 20px;
}
.marg-tx3 {
	margin-top: 45px;
}
.marg-tx4 {
	margin-top: 10px;
	margin-bottom: -10%;
}
.marg-tp2 {
	margin-top: 4%;
}
.marg-tp4 {
	margin-top: 30px;
}
.marg-tp5 {
	margin-top: 39px;
}
.marg-tp6 {
	margin-top: 48px;
}
.marg-b {
	margin-bottom: 10px;
}
.marg-b-half {
	margin-bottom: 3px;
}
.marg-r-hf {
	margin-right: -5px;
}
.marg-l-hf {
	margin-left: 4px;
}
.marg-l-aupx{
	margin-left: 16px;
}
.marg-lx2 {
	margin-left: 2%;
}

.marg-lx4 {
	margin-left: 4%;
}

.marg-lx10 {
	margin-left: 10%;
}
.marg-lx20 {
	margin-left: 20%;
}
.marg-lx30 {
	margin-left: 30%;
}

.marg-a {
	margin: 4px;
}
.padding-b {
	padding-bottom: 1px;
}
.marg-b-1 {
	margin-bottom: 1px;
}

/*base font-set*/
/*定义一级标题字体样式*/
.font-Abig {
  	font-family: "微软雅黑 Bold","微软雅黑";
	font-weight: 700;
	font-size: 19px;
	color: #FFF;
}
.font-A0 {
  	font-family: "微软雅黑 Bold","微软雅黑";
	font-weight: 700;
	font-size: 22px;
	color: #FFF;
}

/*定义二级标题字体样式*/
.font-A1 {
	font-family: "微软雅黑 Bold","微软雅黑";
	font-weight: 700;
	font-size: 16px;
	color: #FFF;
}

.font-A2 {
	font-family: "微软雅黑 Bold","微软雅黑";
	/* font-weight: 700; */
	font-size: 14px;
	color: #FFF;
}
.font-A2231 {
	font-family: "微软雅黑 Bold","微软雅黑";
	/* font-weight: 700; */
	font-size: 18px;
	color: black;
}
.font-A223 {
	font-family: "微软雅黑 Bold","微软雅黑";
	/* font-weight: 700; */
	font-size: 14px;
	color: black;
}
.font-A2-3 {
	font-family: "微软雅黑 Regular","微软雅黑";
	font-size: 12px;
	color: #FFF;	
}

/*定义三级标题字体样式*/
.font-A3 {
	font-family: "微软雅黑 Regular","微软雅黑";
	font-size: 10px;
	color: #FFF;	
}

.font-A4 {
	font-weight:bold;
	color: #FFFFFF;
}
/*定义数字字体样式*/
.font-Num1 {
	font-size: 20px;
  	text-align: center;
}
.font-success {
	color: #80FF80;
}
.font-success-l {
	font-size: 11px;
	color: #80FF80;
}
.font-warning {
	color: #FFE972;
}
.font-danger {
	color: #D90C10;
}
.font-stop {
	color: #999999;
}
/*定义边框*/
.border-r {
	border-right: 4px dashed #5C5C5C;
	border-bottom-width: 2px;
}
.hborder-r {
	border-right: 1px dashed #999999;
}
.border-t {
	border-top: 1px dashed #000000;
}

.border-top {
	border-top: 1px dashed #999999;
}
.border-t-gray {
	border-top: 1px dashed #999999;
}
.border-t-solid {
	border-top: 1px solid #999999;
}
.border-b {
	border-bottom: 1px dashed #999999;
}
.border-l {
	border-left: 1px dashed #999999;
}
.border-l-blc {
	 border-left: 1px dashed #000000;
 }
.border-r-blc {
	border-right: 1px dashed #000000;
}

/*************************************************/
/*整体情况布局*/
/*************************************************/
.part1-marg-font {
	position: relative;
	float: left;
}
.float-l {
	float: left;
}

.float-r {
	float: right;
}
.float-r-c {
	margin-left: 21%;
}

.float-c {
	margin-left: 35%;
}

.float-cc {
	margin-left: 25%;
}

.font-marg-t {
	margin-top: -2px;
	margin-left: 2px;
	margin-bottom: 2px;
}
.font-marg-b {
	margin-top: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
}

.font-T1 {
  	font-family: '微软雅黑 Bold', '微软雅黑';
  	font-weight: 700;
  	font-size: 28px;
	color: #FFFFFF;
}

.font-T2 {
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.font-T3 {
	font-family: '微软雅黑 Regular', '微软雅黑';
	font-weight: 400;
	font-size: 13px;
  	color: #FFFFFF;
  	text-align: center;
}

.font-T4 {
	font-family: '微软雅黑 Regular', '微软雅黑';
	font-weight: 400;
	font-size: 11px;
  	color: #FFFFFF;
  	text-align: center;
}
.font-T5 {
	font-family: '微软雅黑 Regular', '微软雅黑';
	font-weight: 400;
	font-size: 9px;
  	color: #FFFFFF;
  	text-align: center;
}
.font-T6 {
	font-family: '微软雅黑 Regular', '微软雅黑';
	font-weight: 400;
	font-size: 7px;
  	color: #FFFFFF;
  	text-align: center;
}
.ax_vertical_line {
    position: relative;
    top: 137px;
    width: 10px;
    height: 48px;
}
.background-r50{
	font-weight: bold; 
	background: rgb(50, 50, 50);
}
.background-rwhite{
	font-weight: bold; 
	background: rgb(212,212,212);
}
.background-rwhiteall{
	font-weight: bold; 
	background: rgb(234,234,234);
}
.background-r30{
	
	background: rgb(30, 30, 30);
}
/*************************************************/
/*Hadoop平台布局*/
/*************************************************/
.font-H1{
	font-family: '微软雅黑 Regular', '微软雅黑';
	/* font-weight: 400; */
  	font-size: 16px;
  	color: #FFFFFF;
  	text-align: center;
  	font-weight: 500;
}
.font-H2 {
	font-family: '微软雅黑 Bold', '微软雅黑';
  	font-weight: 700;
  	font-size: 16px;
  	color: #00FFFF;
  	text-align: center;
}
.font-H3{
	font-family: '微软雅黑 Regular', '微软雅黑';
  	font-size: 10px;
  	color: #FFFFFF;
  	text-align: center;
}
.font-Hn {
	font-family: 'Arial Negreta', 'Arial';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.hfloat-c {
	float: left;
	margin-left: 30%;
}
.hfloat-c-half {
	float: left;
	margin-left: 9%;
}
.hfloat-l {
	float: left;
	margin-left: 15%;
}
.hmarg-l-neg {
	position: relative;
	margin-left: -46%;
	margin-top: 20%;
}
.hmarg-tl {
	margin-top: 6px;
	margin-left: 6px;
}
.hmarg-tw {
	margin-top: 3px;
	margin-left: 18px;
}
.hmarg-trr {
	margin-left: 10px;
}
.hmarg-bbig {
	margin-top: 3px;
	margin-left: 58px;
}
.hmarg-tr {
	margin-top: 7px;
	margin-right: -0px;
}
.hpie-size {
	height: 80px;
	width: 80px;
}
.hpie-sml {
	height: 60px;
	width: 60px;
}
.canvaspie-size {
	width:60px;
	height:60px;
}

/*************************************************/
/*Oracle数据库布局*/
/*************************************************/
.ver-center {
	padding: .1em;
}
.hor-center {
	text-align: center;
}
.hor-right {
	text-align: right;
}
.ofloat-c {
	float: left;
	margin-left: 25%;
}
/*************************************************/
/*应用服务器布局*/
/*************************************************/
.font-tab {
	/*padding: 4px;*/
	padding: 2px;
	text-align: center;
	height: 100%;
	width: 100%;
}
.font-tab tr {
	font-family: '微软雅黑 Bold', '微软雅黑';
  	font-weight: 500;
  	font-size: 12px;
  	color: #FFFFFF;
}
.font-tab td {
	font-family: '微软雅黑 Regular', '微软雅黑';
  	font-size: 6px;
  	color: #FFFFFF;
}

/*过渡平台*/
.tfloat-c {
	float: left;
	margin-left: 2%;
}

/*GP数据库*/
.marg-b-neg {
	/* margin-bottom: 0px; */
}


